@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.titleFont {
  font-family: 'Squada One', cursive;
}

.bio {
  font-family: 'Playfair Display', serif;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.img {
  height: 35vw;
  width: 50vw;
  max-width: 700px;
  max-height: 500px;
}

.info {
  font-size: 1.25vw;
  margin-left: -1vw;
  padding: 1.5rem;
  text-align: right;
}

.bottomRight {
  bottom: 0;
  font-family: 'Squada One', cursive;
  position: absolute;
  padding-right: 1.5rem;
  right: 0;
}

.verticalLine {
  border-left: 1px solid #fff;
  height: 100%;
  position: absolute;
  left: 50%;
}

.caseCd {
  position: absolute;
  width: 103%;
  height: 109%;
  margin-top: -1.5vw;
  margin-left: -1.5vw;
}

@media screen and (min-width: 1600px) {
  .info {
    font-size: 19px;
  }
}
